@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@plugin "daisyui";

:root {
  background-color: #faf9f6;
  color: #0a2342;
  font-family: "Outfit";
}
